.gradle
/local.properties
local.properties
.idea
.DS_Store
/.DS_Store
/build
/captures
gradle.properties
.iml
*.iml
*.iws
*.ipr
.idea/
.gradle/

#proguard-rules.pro
gradlew
gradlew.bat
*/build/
gradle/
*.apk

*~
*.swp
app/src/androidTest/
app/src/test/

